source_code/funcs/__pycache__/__init__.cpython-36.pyc
source_code/funcs/__pycache__/func_drawRectAndshow.cpython-36.pyc
source_code/funcs/__pycache__/func_findPattern.cpython-36.pyc
source_code/funcs/__pycache__/func_getColorRatio.cpython-36.pyc
source_code/funcs/__pycache__/func_getContour.cpython-36.pyc
source_code/funcs/__pycache__/func_openCV_patternMatch.cpython-36.pyc
